
<div class="auth-wrapper">
  <div class="auth-card">
    <h2 class="auth-title">הצטרפי לקהילה ✨</h2>
    <p class="auth-subtitle">צרי חשבון והתחילי לשתף מתכונים</p>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="auth-form">
      
      <div class="field">
        <label class="form-label">שם משתמש</label>
        <input type="text" formControlName="username" class="custom-input" placeholder="איך לקרוא לך?">
        <div class="error-container">
          @if (registerForm.get('username')?.touched && registerForm.get('username')?.invalid) {
            <small class="error-msg">שם משתמש קצר מדי או חסר</small>
          }
        </div>
      </div>

      <div class="field">
        <label class="form-label">אימייל</label>
        <input type="email" formControlName="email" class="custom-input" placeholder="yourname@example.com">
        <div class="error-container">
          @if (registerForm.get('email')?.touched && registerForm.get('email')?.invalid) {
            <small class="error-msg">כתובת אימייל לא תקינה</small>
          }
        </div>
      </div>

      
      <div class="field">
        <label class="form-label">סיסמה</label>
        <input type="password" formControlName="password" class="custom-input" placeholder="לפחות 3 תווים">
        <div class="error-container">
          @if (registerForm.get('password')?.touched && registerForm.get('password')?.invalid) {
            <small class="error-msg">הסיסמה צריכה להיות חזקה יותר</small>
          }
        </div>
      </div>
    
      <button type="submit" class="btn-submit-master" [disabled]="registerForm.invalid">
        צור חשבון חדש
      </button>

      
      
      <p class="auth-switch">כבר יש לך חשבון? <a routerLink="/login">התחברי כאן</a></p>
    </form>
  </div>
</div>