
<div class="main-page-wrapper">
  <div class="card-wide-list">
    
    <div class="d-flex justify-content-between align-items-center mb-5 pb-4 border-bottom border-dark">
     
      <app-button 
  text="✕ חזרה לפרופיל" 
  variant="outline" 
  routerLink="/profile">
</app-button>
      <div class="text-end">
        <h2 class="display-5 fw-bold text-white m-0">האוצר שלי</h2>
        <p class="text-gold m-0" style="color: #8c6d31; letter-spacing: 2px;">MY CULINARY SECRETS</p>
      </div>
    </div>

    <div *ngIf="isLoading" class="text-center py-5">
      <div class="spinner-pasha"></div>
      <p class="text-white-50 mt-3">מסדרים את ספרי הבישול...</p>
    </div>

    <div *ngIf="!isLoading && myRecipes.length === 0" class="text-center py-5 animate__animated animate__fadeIn">
      <div class="mb-4 display-1">🧑‍🍳</div>
      <h3 class="text-white mb-3">המחברת שלך עדיין ריקה</h3>
      <p class="text-white-50 mb-4">זה הזמן לשתף את העולם בטעם המיוחד שלך</p>
      <!-- <button routerLink="/add-recipe" class="btn btn-emerald px-5 py-3">הוסיפי מתכון ראשון</button> -->
    <app-button 
  text="הוסיפי מתכון ראשון ✨" 
  variant="primary" 
  routerLink="/add-recipe">
</app-button>
    </div>

    <div *ngIf="!isLoading && myRecipes.length > 0" class="row g-5">
      <div class="col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let recipe of myRecipes">
        <div class="recipe-mini-card">
          
          <div class="image-wrapper" [routerLink]="['/recipe-details', recipe.id]" title="צפייה במתכון">
            <img [src]="baseUrl + recipe.main_image" class="recipe-img" (error)="handleImageError($event)">
            <div class="category-badge">{{ recipe.category }}</div>
          </div>

          <div class="card-info p-3 text-end">
            <h5 class="fw-bold text-dark text-truncate mb-1">{{ recipe.title }}</h5>
            
            <div class="d-flex justify-content-between align-items-center mt-3">
              <div class="recipe-type d-flex align-items-center">
                <span class="dot-gold"></span>
                <span class="small fw-bold text-muted">{{ recipe.type }}</span>
              </div>
              
              <div class="d-flex gap-2">
                <button class="btn-action" (click)="editRecipe(recipe.id, $event)" title="עריכה">
                  <i class="bi bi-pencil-fill text-dark small"></i>
                </button>
                <button class="btn-action" (click)="deleteRecipe(recipe.id, $event)" title="מחיקה">
                  <i class="bi bi-trash3 text-danger small"></i>
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>