

<div class="auth-wrapper">
  <div class="auth-card">
    <div style="position: absolute; top: 15px; right: 15px; font-size: 1.5rem;">✨</div>

    <h2 class="auth-title">Pasha Login</h2>
    <div style="width: 40px; height: 2px; background: #8c6d31; margin: 0 auto 15px;"></div>
    <p class="auth-subtitle">תענוג לראות אותך, המטבח מחכה...</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="auth-form">
      
      <div class="field">
        <label class="form-label">דוא"ל</label>
        <input type="email" formControlName="email" class="custom-input" placeholder="chef@pasha.com">
        <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="text-danger small mt-1">
          אנא הזיני כתובת אימייל תקינה
        </div>
      </div>

      <div class="field">
        <label class="form-label">סיסמה</label>
        <input type="password" formControlName="password" class="custom-input" placeholder="••••••••">
      </div>

      <!-- <button type="submit" class="btn-submit-master shadow-sm" [disabled]="loginForm.invalid || isSubmitting">
        <span *ngIf="!isSubmitting">התחברי לקסם ✨</span>
        <span *ngIf="isSubmitting" class="spinner-border spinner-border-sm"></span>
      </button> -->
<app-button 
  [text]="'התחברי לקסם ✨'"
  [variant]="'primary'"
  [isLoading]="isSubmitting" 
  [disabled]="loginForm.invalid"
  (btnClick)="onSubmit()">
</app-button>
      @if (errorMessage) {
        <div class="alert-error animate__animated animate__shakeX">
          <i class="bi bi-exclamation-circle me-2"></i> {{ errorMessage }}
        </div>
      }

      <p class="auth-switch">
        עדיין אין לך מפתח למטבח? 
        <a routerLink="/register">צרי חשבון עכשיו</a>
      </p>
    </form>
  </div>
</div>